In [2]:
import pandas as pd

C:\Users\Selim\AppData\Local\Temp\ipykernel_17088\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
data_set = pd.read_csv("data.csv")
data_set

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,Obezite
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,NaN
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,NaN
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight,NaN
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,NaN
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,NaN

In [4]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
 17  Obezite                         0 non-null      float64
dtypes: float64(9), object(9)
memory usage: 297.0+ KB

In [5]:
data_set.drop("NObeyesdad",axis=1)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obezite
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,NaN
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,NaN
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,NaN
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,NaN
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,NaN
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,NaN
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,NaN
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,NaN
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,NaN

In [6]:
columns_to_convert = ['family_history_with_overweight', "FAVC", "SMOKE","SCC"]

# Iterate over each column in the dataset
for column in data_set.columns:
    # Check if the column contains 'yes' and 'no' values
    if 'yes' in data_set[column].values and 'no' in data_set[column].values:
        # Replace 'yes' with 1 and 'no' with 0
        data_set[column] = data_set[column].replace({'yes': 1, 'no': 0})

data_set

C:\Users\Selim\AppData\Local\Temp\ipykernel_17088\883613711.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_set[column] = data_set[column].replace({'yes': 1, 'no': 0})

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,Obezite
0,Female,21.000000,1.620000,64.000000,1,0,2.0,3.0,Sometimes,0,2.000000,0,0.000000,1.000000,no,Public_Transportation,Normal_Weight,NaN
1,Female,21.000000,1.520000,56.000000,1,0,3.0,3.0,Sometimes,1,3.000000,1,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,NaN
2,Male,23.000000,1.800000,77.000000,1,0,2.0,3.0,Sometimes,0,2.000000,0,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight,NaN
3,Male,27.000000,1.800000,87.000000,0,0,3.0,3.0,Sometimes,0,2.000000,0,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,NaN
4,Male,22.000000,1.780000,89.800000,0,0,2.0,1.0,Sometimes,0,2.000000,0,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,1,1,3.0,3.0,Sometimes,0,1.728139,0,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2107,Female,21.982942,1.748584,133.742943,1,1,3.0,3.0,Sometimes,0,2.005130,0,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2108,Female,22.524036,1.752206,133.689352,1,1,3.0,3.0,Sometimes,0,2.054193,0,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2109,Female,24.361936,1.739450,133.346641,1,1,3.0,3.0,Sometimes,0,2.852339,0,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2110,Female,23.664709,1.738836,133.472641,1,1,3.0,3.0,Sometimes,0,2.863513,0,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,NaN

In [7]:
# Convert 'Gender' column to categorical data type
data_set['Gender'] = data_set['Gender'].astype('category')
data_set['CAEC'] = data_set['CAEC'].astype('category')
data_set['CALC'] = data_set['CALC'].astype('category')
data_set['MTRANS'] = data_set['MTRANS'].astype('category')





# Convert 'Gender' column to numerical codes
data_set['Gender'] = data_set['Gender'].cat.codes
data_set['CAEC'] = data_set['CAEC'].cat.codes
data_set['CALC'] = data_set['CALC'].cat.codes
data_set['MTRANS'] = data_set['MTRANS'].cat.codes

data_set

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,Obezite
0,0,21.000000,1.620000,64.000000,1,0,2.0,3.0,2,0,2.000000,0,0.000000,1.000000,3,3,Normal_Weight,NaN
1,0,21.000000,1.520000,56.000000,1,0,3.0,3.0,2,1,3.000000,1,3.000000,0.000000,2,3,Normal_Weight,NaN
2,1,23.000000,1.800000,77.000000,1,0,2.0,3.0,2,0,2.000000,0,2.000000,1.000000,1,3,Normal_Weight,NaN
3,1,27.000000,1.800000,87.000000,0,0,3.0,3.0,2,0,2.000000,0,2.000000,0.000000,1,4,Overweight_Level_I,NaN
4,1,22.000000,1.780000,89.800000,0,0,2.0,1.0,2,0,2.000000,0,0.000000,0.000000,2,3,Overweight_Level_II,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20.976842,1.710730,131.408528,1,1,3.0,3.0,2,0,1.728139,0,1.676269,0.906247,2,3,Obesity_Type_III,NaN
2107,0,21.982942,1.748584,133.742943,1,1,3.0,3.0,2,0,2.005130,0,1.341390,0.599270,2,3,Obesity_Type_III,NaN
2108,0,22.524036,1.752206,133.689352,1,1,3.0,3.0,2,0,2.054193,0,1.414209,0.646288,2,3,Obesity_Type_III,NaN
2109,0,24.361936,1.739450,133.346641,1,1,3.0,3.0,2,0,2.852339,0,1.139107,0.586035,2,3,Obesity_Type_III,NaN
2110,0,23.664709,1.738836,133.472641,1,1,3.0,3.0,2,0,2.863513,0,1.026452,0.714137,2,3,Obesity_Type_III,NaN

In [8]:
# Calculate BMI
data_set['BMI'] = data_set['Weight'] / (data_set['Height'] * data_set['Height'])

# Define the conditions for each BMI category
conditions = [
    (data_set['BMI'] < 18.5),
    (data_set['BMI'] >= 18.5) & (data_set['BMI'] <= 24.9),
    (data_set['BMI'] >= 25.0) & (data_set['BMI'] <= 29.9),
    (data_set['BMI'] >= 30.0) & (data_set['BMI'] <= 34.9),
    (data_set['BMI'] >= 35.0) & (data_set['BMI'] <= 39.9),
    (data_set['BMI'] >= 40.0)
]

# Define the corresponding BMI categories
categories = ['Underweight', 'Not Obesity', 'Overweight', 'Obesity I', 'Obesity II', 'Obesity III']

# Assign the corresponding category based on the conditions
data_set['Obezite'] = pd.Series(pd.cut(data_set['BMI'], bins=[0, 18.5, 24.9, 29.9, 34.9, 39.9, float('inf')], labels=categories))


# Convert the 'Height' column from float to integer
data_set['Height'] = (data_set['Height'] * 100).astype(int) / 100
data_set['Weight'] = (data_set['Weight'] * 100).astype(int) / 100
data_set['CH2O'] = data_set['CH2O'].astype(int)



# Convert the columns to integer
data_set['BMI'] = data_set['BMI'].astype(int)
data_set['Age'] = data_set['Age'].astype(int)
data_set['NCP'] = data_set['NCP'].astype(int)
data_set['FAF'] = data_set['FAF'].astype(int)
data_set['TUE'] = data_set['TUE'].astype(int)
data_set['FCVC'] = data_set['FCVC'].astype(int)



# Drop the column 'NObeyesdad'
data_set.drop(columns=['NObeyesdad'], inplace=True)

data_set

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obezite,BMI
0,0,21,1.62,64.00,1,0,2,3,2,0,2,0,0,1,3,3,Not Obesity,24
1,0,21,1.52,56.00,1,0,3,3,2,1,3,1,3,0,2,3,Not Obesity,24
2,1,23,1.80,77.00,1,0,2,3,2,0,2,0,2,1,1,3,Not Obesity,23
3,1,27,1.80,87.00,0,0,3,3,2,0,2,0,2,0,1,4,Overweight,26
4,1,22,1.78,89.80,0,0,2,1,2,0,2,0,0,0,2,3,Overweight,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20,1.71,131.40,1,1,3,3,2,0,1,0,1,0,2,3,Obesity III,44
2107,0,21,1.74,133.74,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,43
2108,0,22,1.75,133.68,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,43
2109,0,24,1.73,133.34,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44
2110,0,23,1.73,133.47,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44

In [9]:
# Calculate BMI
data_set['BMI'] = data_set['Weight'] / (data_set['Height'] * data_set['Height'])

# Define the conditions for each BMI category
conditions = [
    (data_set['BMI'] < 18.5),
    (data_set['BMI'] >= 18.5) & (data_set['BMI'] <= 24.9),
    (data_set['BMI'] >= 25.0) & (data_set['BMI'] <= 29.9),
    (data_set['BMI'] >= 30.0) & (data_set['BMI'] <= 34.9),
    (data_set['BMI'] >= 35.0) & (data_set['BMI'] <= 39.9),
    (data_set['BMI'] >= 40.0)
]

# Define the corresponding BMI categories
categories = ['Underweight', 'Normal', 'Overweight', 'Obesity I', 'Obesity II', 'Obesity III']

# Assign the corresponding category based on the conditions
data_set['Obezite'] = pd.Series(pd.cut(data_set['BMI'], bins=[0, 18.5, 24.9, 29.9, 34.9, 39.9, float('inf')], labels=categories))




# Convert the 'Height' column from float to integer
data_set['Height'] = (data_set['Height'] * 100).astype(int) / 100

# Convert the column to integer
data_set['Weight'] = data_set['Weight'].astype(int)
data_set['BMI'] = data_set['BMI'].astype(int)

data_set

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obezite,BMI
0,0,21,1.62,64,1,0,2,3,2,0,2,0,0,1,3,3,Normal,24
1,0,21,1.52,56,1,0,3,3,2,1,3,1,3,0,2,3,Normal,24
2,1,23,1.80,77,1,0,2,3,2,0,2,0,2,1,1,3,Normal,23
3,1,27,1.80,87,0,0,3,3,2,0,2,0,2,0,1,4,Overweight,26
4,1,22,1.78,89,0,0,2,1,2,0,2,0,0,0,2,3,Overweight,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20,1.71,131,1,1,3,3,2,0,1,0,1,0,2,3,Obesity III,44
2107,0,21,1.74,133,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44
2108,0,22,1.75,133,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,43
2109,0,24,1.73,133,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44
2110,0,23,1.73,133,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44

In [10]:
# Get the count of unique values in the column 'CALC+++                     '
data_set['CALC'].value_counts()

CALC
2    1401
3     639
1      70
0       1
Name: count, dtype: int64

In [11]:
# Get the count of unique values in the column 'MTRANS'
data_set['MTRANS'].value_counts()

MTRANS
3    1580
0     457
4      56
2      11
1       7
Name: count, dtype: int64

In [12]:
data_set

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obezite,BMI
0,0,21,1.62,64,1,0,2,3,2,0,2,0,0,1,3,3,Normal,24
1,0,21,1.52,56,1,0,3,3,2,1,3,1,3,0,2,3,Normal,24
2,1,23,1.80,77,1,0,2,3,2,0,2,0,2,1,1,3,Normal,23
3,1,27,1.80,87,0,0,3,3,2,0,2,0,2,0,1,4,Overweight,26
4,1,22,1.78,89,0,0,2,1,2,0,2,0,0,0,2,3,Overweight,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20,1.71,131,1,1,3,3,2,0,1,0,1,0,2,3,Obesity III,44
2107,0,21,1.74,133,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44
2108,0,22,1.75,133,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,43
2109,0,24,1.73,133,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44
2110,0,23,1.73,133,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44