In [37]:
""" Gerekli kütüphaneler import ediliyor
Pandas kütüphanesini "import" komutuyla projemize ekliyoruz "pd" takma 
adıyla projemizin içinde kullanıyoruz ve verilerimizi işlemek ve analiz 
etmek için bu kütüphaneyi projemize dahil etmemiz gerekiyor."""


import pandas as pd

In [38]:
"""data_set diye bir değişken oluşturuyoruz ve bu değişkene yukarda pd diye takma 
adıyla projemize dahil ettiğimiz pandas kütüphanesini kullanarak 
'data.csv' dosyasının içinde ki veri setini okuyoruz.
"""


data_set = pd.read_csv("data.csv")
data_set

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,Obezite
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,NaN
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,NaN
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight,NaN
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,NaN
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,NaN

In [39]:
"""
Python DataFrame nesnesinde çağrılan bir yöntemdir. Bu yöntem, DataFrame'in bilgi veren bir özetini döndürür. 
Bu özet, DataFrame'in boyutu, sütunların adları, veri tipleri ve bellek kullanımı gibi bilgileri içerir.
Bu, DataFrame'in yapısı hakkında hızlı bir genel bakış sağlar ve veri hakkında daha fazla bilgi edinmeye yardımcı olabilir.
"""


data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
 17  Obezite                         0 non-null      float64
dtypes: float64(9), object(9)
memory usage: 297.0+ KB

In [40]:
"""
Bu kod bir veri kümesinden belirli bir sütunu (NObeyesdad olarak adlandırılan sütun) çıkarmak için kullanılır. 
data_set.drop("NObeyesdad", axis=1) ifadesi, data_set DataFrame'inden "NObeyesdad" sütununu çıkarır. 
axis=1 parametresi, bu işlemi sütun bazında yapılmasını sağlar. Yani, sütunlar boyunca işlem yapılacağını belirtir. 
Bu kod, DataFrame'deki "NObeyesdad" sütununu kalıcı olarak kaldırmaz, yalnızca işlem sırasında kullanılır. 
Eğer bu işlemi kalıcı hale getirmek istiyorsanız, inplace=True parametresini eklemeniz gerekir.

"""



data_set.drop("NObeyesdad",axis=1)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obezite
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,NaN
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,NaN
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,NaN
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,NaN
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,NaN
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,NaN
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,NaN
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,NaN
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,NaN

In [41]:
"""
Bu kod parçası, belirli sütunlarda ( 'family_history_with_overweight', 'FAVC', 'SMOKE' ve 'SCC') bulunan 'yes' ve 'no' değerlerini 1 ve 0 olarak değiştirmek için bir döngü kullanır. 
Öncelikle, columns_to_convert listesinde belirtilen sütunlar üzerinde döner. Ardından, her bir sütun için 'yes' ve 'no' değerlerini içerip içermediğini kontrol eder. 
Eğer bir sütunda her iki değer de bulunuyorsa, 'yes' değerlerini 1 ile ve 'no' değerlerini 0 ile değiştirir. 
Bu, veri kümesindeki evet/hayır türündeki yanıtları sayısal bir formata dönüştürmeye yardımcı olur.


Sonuç olarak, döngü tamamlandığında, veri kümesindeki belirli sütunlardaki 'yes' ve 'no' değerleri, 1 ve 0 olarak değiştirilir. 
Bu dönüşüm, 'data_set' adlı DataFrame'in güncellenmiş bir versiyonunu oluşturur.


"""




columns_to_convert = ['family_history_with_overweight', "FAVC", "SMOKE","SCC"]


for column in data_set.columns:

    if 'yes' in data_set[column].values and 'no' in data_set[column].values:

        data_set[column] = data_set[column].replace({'yes': 1, 'no': 0})

data_set

C:\Users\Selim\AppData\Local\Temp\ipykernel_18976\975678611.py:24: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_set[column] = data_set[column].replace({'yes': 1, 'no': 0})

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,Obezite
0,Female,21.000000,1.620000,64.000000,1,0,2.0,3.0,Sometimes,0,2.000000,0,0.000000,1.000000,no,Public_Transportation,Normal_Weight,NaN
1,Female,21.000000,1.520000,56.000000,1,0,3.0,3.0,Sometimes,1,3.000000,1,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,NaN
2,Male,23.000000,1.800000,77.000000,1,0,2.0,3.0,Sometimes,0,2.000000,0,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight,NaN
3,Male,27.000000,1.800000,87.000000,0,0,3.0,3.0,Sometimes,0,2.000000,0,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,NaN
4,Male,22.000000,1.780000,89.800000,0,0,2.0,1.0,Sometimes,0,2.000000,0,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,1,1,3.0,3.0,Sometimes,0,1.728139,0,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2107,Female,21.982942,1.748584,133.742943,1,1,3.0,3.0,Sometimes,0,2.005130,0,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2108,Female,22.524036,1.752206,133.689352,1,1,3.0,3.0,Sometimes,0,2.054193,0,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2109,Female,24.361936,1.739450,133.346641,1,1,3.0,3.0,Sometimes,0,2.852339,0,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,NaN
2110,Female,23.664709,1.738836,133.472641,1,1,3.0,3.0,Sometimes,0,2.863513,0,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,NaN

In [42]:

"""

Bu kod parçası, 'Gender', 'CAEC', 'CALC' ve 'MTRANS' sütunlarını kategorik veri türüne dönüştürür ve ardından bu sütunları sayısal kodlara dönüştürür.

İlk olarak, astype() yöntemi kullanılarak sütunlar kategorik veri türüne dönüştürülür.
Bu, belirli sütunların bir kategori olarak kabul edilmesini ve bu kategorilerin sınırlı bir sayıda önceden belirlenmiş değerler içereceğini belirtir.

Daha sonra, cat.codes kullanılarak kategorik sütunlar sayısal kodlara dönüştürülür. 
Bu, her kategori değerine bir tamsayı atar. Örneğin, eğer 'Gender' sütunu 'erkek' ve 'kadın' olmak üzere iki kategori içeriyorsa, 'erkek' değeri 0, 'kadın' değeri ise 1 olacaktır.

Sonuç olarak, DataFrame'deki 'Gender', 'CAEC', 'CALC' ve 'MTRANS' sütunları sayısal kodlara dönüştürülür. 

"""



data_set['Gender'] = data_set['Gender'].astype('category')
data_set['CAEC'] = data_set['CAEC'].astype('category')
data_set['CALC'] = data_set['CALC'].astype('category')
data_set['MTRANS'] = data_set['MTRANS'].astype('category')



data_set['Gender'] = data_set['Gender'].cat.codes
data_set['CAEC'] = data_set['CAEC'].cat.codes
data_set['CALC'] = data_set['CALC'].cat.codes
data_set['MTRANS'] = data_set['MTRANS'].cat.codes

data_set

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,Obezite
0,0,21.000000,1.620000,64.000000,1,0,2.0,3.0,2,0,2.000000,0,0.000000,1.000000,3,3,Normal_Weight,NaN
1,0,21.000000,1.520000,56.000000,1,0,3.0,3.0,2,1,3.000000,1,3.000000,0.000000,2,3,Normal_Weight,NaN
2,1,23.000000,1.800000,77.000000,1,0,2.0,3.0,2,0,2.000000,0,2.000000,1.000000,1,3,Normal_Weight,NaN
3,1,27.000000,1.800000,87.000000,0,0,3.0,3.0,2,0,2.000000,0,2.000000,0.000000,1,4,Overweight_Level_I,NaN
4,1,22.000000,1.780000,89.800000,0,0,2.0,1.0,2,0,2.000000,0,0.000000,0.000000,2,3,Overweight_Level_II,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20.976842,1.710730,131.408528,1,1,3.0,3.0,2,0,1.728139,0,1.676269,0.906247,2,3,Obesity_Type_III,NaN
2107,0,21.982942,1.748584,133.742943,1,1,3.0,3.0,2,0,2.005130,0,1.341390,0.599270,2,3,Obesity_Type_III,NaN
2108,0,22.524036,1.752206,133.689352,1,1,3.0,3.0,2,0,2.054193,0,1.414209,0.646288,2,3,Obesity_Type_III,NaN
2109,0,24.361936,1.739450,133.346641,1,1,3.0,3.0,2,0,2.852339,0,1.139107,0.586035,2,3,Obesity_Type_III,NaN
2110,0,23.664709,1.738836,133.472641,1,1,3.0,3.0,2,0,2.863513,0,1.026452,0.714137,2,3,Obesity_Type_III,NaN

In [43]:


"""
BMI Hesaplama:

'Weight' (kilo) ve 'Height' (boy) sütunlarındaki değerler kullanılarak her bir satır için Vücut Kitle İndeksi (BMI) hesaplanır.
BMI hesaplaması, kişinin kilosunu boyunun karesine bölmek suretiyle yapılır.
Hesaplama sonucu elde edilen BMI değerleri, 'BMI' sütununa atanır.
Obezite Kategorileri İçin Koşullar ve Kategoriler:

BMI değerlerine dayanarak, kişinin obezite kategorisini belirlemek için koşullar belirlenir.
Belirlenen koşullara göre, kişinin hangi obezite kategorisine girdiğini belirlemek için kullanılacak kategoriler belirlenir.
Koşullar ve kategoriler, veri setindeki 'BMI' sütunundaki değerlere göre tanımlanır.
Obezite Sütunu Oluşturma:

Belirlenen koşullara ve kategorilere dayanarak, her bir kişinin obezite kategorisini içeren bir 'Obezite' sütunu oluşturulur.
'BMI' sütunundaki değerler, belirlenen koşullara göre kategorilere ayrılır ve bu kategorilere göre 'Obezite' sütununa atanır.


Veri Kümesi Sütunlarının Dönüşümü: , 'CH2O', 'Age', 'NCP', 'FAF', 'TUE' ve 'FCVC' sütunları tamsayı türüne dönüştürülür.


Bu kod, 'Height' sütunundaki değerleri santimetre cinsinden tutarlı bir formata dönüştürür. 
Öncelikle, mevcut yükseklik değerleri metreye cinsinden olduğunu varsayar. Kod, her bir yükseklik değerini 100 ile çarparak santimetre cinsinden bir değere dönüştürür. 
Daha sonra, bu değerleri 'int' (tamsayı) türüne dönüştürerek ondalık kısmı kaldırır. 
Son olarak, bu işlemin sonucunu tekrar 100'e böler, böylece orijinal ölçeklendirmeyi geri alır ve iki ondalık basamağa yuvarlar. 
Bu, yükseklik verilerinin birimleri üzerinde daha tutarlı bir işlem sağlar. Örneğin, 1.75 metrelik bir yükseklik değeri 175 santimetre olarak temsil edilecektir.




'BMI' sütunundaki değerlerin sayısını iki ondalık basamağa yuvarlar. 
Yani, her bir 'BMI' değeri iki ondalık basamağa kadar kesirli olarak yuvarlanır. 
Bu, veri kümesindeki BMI değerlerinin daha düzenli ve okunabilir olmasını sağlar. Örneğin, 22.456 olan bir BMI değeri 22.46 olarak yuvarlanacaktır.


'NObeyesdad' sütununu veri kümesinden kalıcı olarak kaldırır. .drop() yöntemi, belirtilen sütunu veri kümesinden kaldırmak için kullanılır. 
inplace=True parametresi, bu işlemi veri kümesine doğrudan uygular, yani kalıcı değişiklik yapar. 
'NObeyesdad' sütunu, veri kümesindeki gereksiz veya işlem yapılacak sütunlardan biri olarak kabul edilmiş olmalıdır. 
Bu kod, veri analizi veya modeleme sürecinde kullanılmayacak olan gereksiz bir sütunu temizler.


"""


data_set['BMI'] = data_set['Weight'] / (data_set['Height'] * data_set['Height'])

conditions = [
    (data_set['BMI'] < 18.5),
    (data_set['BMI'] >= 18.5) & (data_set['BMI'] <= 24.9),
    (data_set['BMI'] >= 25.0) & (data_set['BMI'] <= 29.9),
    (data_set['BMI'] >= 30.0) & (data_set['BMI'] <= 34.9),
    (data_set['BMI'] >= 35.0) & (data_set['BMI'] <= 39.9),
    (data_set['BMI'] >= 40.0)
]


categories = ['Underweight', 'Not Obesity', 'Overweight', 'Obesity I', 'Obesity II', 'Obesity III']


data_set['Obezite'] = pd.Series(pd.cut(data_set['BMI'], bins=[0, 18.5, 24.9, 29.9, 34.9, 39.9, float('inf')], labels=categories))



data_set['Height'] = (data_set['Height'] * 100).astype(int) / 100
data_set['Weight'] = (data_set['Weight'] * 100).astype(int) / 100


data_set['BMI'] = data_set['BMI'].round(2)


data_set['CH2O'] = data_set['CH2O'].astype(int)
data_set['Age'] = data_set['Age'].astype(int)
data_set['NCP'] = data_set['NCP'].astype(int)
data_set['FAF'] = data_set['FAF'].astype(int)
data_set['TUE'] = data_set['TUE'].astype(int)
data_set['FCVC'] = data_set['FCVC'].astype(int)





data_set.drop(columns=['NObeyesdad'], inplace=True)

data_set

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obezite,BMI
0,0,21,1.62,64.00,1,0,2,3,2,0,2,0,0,1,3,3,Not Obesity,24.39
1,0,21,1.52,56.00,1,0,3,3,2,1,3,1,3,0,2,3,Not Obesity,24.24
2,1,23,1.80,77.00,1,0,2,3,2,0,2,0,2,1,1,3,Not Obesity,23.77
3,1,27,1.80,87.00,0,0,3,3,2,0,2,0,2,0,1,4,Overweight,26.85
4,1,22,1.78,89.80,0,0,2,1,2,0,2,0,0,0,2,3,Overweight,28.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20,1.71,131.40,1,1,3,3,2,0,1,0,1,0,2,3,Obesity III,44.90
2107,0,21,1.74,133.74,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,43.74
2108,0,22,1.75,133.68,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,43.54
2109,0,24,1.73,133.34,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44.07
2110,0,23,1.73,133.47,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44.14

In [45]:
# Bu kod, veri kümenizdeki 'CALC' sütunundaki benzersiz değerlerin sayısını yazdırır. Her benzersiz değer, sayısıyla birlikte listelenir.
data_set['CALC'].value_counts()

CALC
2    1401
3     639
1      70
0       1
Name: count, dtype: int64

In [46]:
# Bu kod, veri kümenizdeki 'MTRANS' sütunundaki benzersiz değerlerin sayısını yazdırır. Her benzersiz değer, sayısıyla birlikte listelenir.
data_set['MTRANS'].value_counts()

MTRANS
3    1580
0     457
4      56
2      11
1       7
Name: count, dtype: int64

In [47]:
# Veri kümenizin mevcut durumunu görmek için kullanılır.
data_set

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obezite,BMI
0,0,21,1.62,64.00,1,0,2,3,2,0,2,0,0,1,3,3,Not Obesity,24.39
1,0,21,1.52,56.00,1,0,3,3,2,1,3,1,3,0,2,3,Not Obesity,24.24
2,1,23,1.80,77.00,1,0,2,3,2,0,2,0,2,1,1,3,Not Obesity,23.77
3,1,27,1.80,87.00,0,0,3,3,2,0,2,0,2,0,1,4,Overweight,26.85
4,1,22,1.78,89.80,0,0,2,1,2,0,2,0,0,0,2,3,Overweight,28.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20,1.71,131.40,1,1,3,3,2,0,1,0,1,0,2,3,Obesity III,44.90
2107,0,21,1.74,133.74,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,43.74
2108,0,22,1.75,133.68,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,43.54
2109,0,24,1.73,133.34,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44.07
2110,0,23,1.73,133.47,1,1,3,3,2,0,2,0,1,0,2,3,Obesity III,44.14

data_set.drop('', axis=1, inplace=True)
data_set.to_csv('data_BMI.csv', index=False)

In [48]:
# Bu kod, 'BMI' sütununu veri kümesinden kalıcı olarak kaldırır ve ardından güncellenmiş veri kümesini 'data_Obezite.csv' adlı bir CSV dosyasına kaydeder. 

"""
data_set.drop('BMI', axis=1, inplace=True): Bu satır, 'BMI' sütununu veri kümesinden kaldırır. 
drop() yöntemi, belirtilen sütunu veya sütunları veri kümesinden kaldırmak için kullanılır. 
'axis=1' parametresi, sütunları işaret eder. 'inplace=True' parametresi, bu işlemi veri kümesine doğrudan uygular, yani kalıcı değişiklik yapar.

data_set.to_csv('data_Obezite.csv', index=False): Bu satır, güncellenmiş veri kümesini 'data_Obezite.csv' adlı bir CSV dosyasına dönüştürür ve kaydeder. 
to_csv() yöntemi, veri kümesini CSV dosyasına dönüştürmek için kullanılır. 'index=False' parametresi, CSV dosyasına dizin sütununu dahil etmemeyi sağlar.

"""
data_set.drop('BMI', axis=1, inplace=True)
data_set.to_csv('data_Obezite.csv', index=False)